header {
    // display: block;
    // min-height: 65px;
    // min-height: 10%;
    // width: 100%;


    // @media screen and (min-width: 1080px) {
    //     min-height: 32px;
    // }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // min-height: 10%;

    .attribution {
        text-align: center;
        padding-top: 24px;
        opacity: 0%;
        transition: 250ms ease;
        margin-top: -45px;

        &:hover {
            cursor: pointer;
            transition: 250ms ease;
            font-size: 12px;
            padding-top: 0px;
            height: 24px;
            opacity: 100%;
        }
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    @media screen and (min-width: 1080px) {

        .attribution {
            text-align: center;
            padding-top: 35px;
            height: 20px;
            opacity: 0%;
            transition: 250ms ease;

            &:hover {
                cursor: pointer;
                transition: 250ms ease;
                font-size: 12px;
                margin-bottom: 5px;
                opacity: 100%;
            }
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
        }
    }
}